.popupContainer {
  padding: 16px 24px;
}

.popupLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.popupHeader {
  margin-bottom: 24px;
  text-align: center;
}

.wereadAvatar {
  height: 36px;
  line-height: 32px;
  width: 36px;
  margin-bottom: 8px;
}

.wereadLogo {
  vertical-align: sub;
  padding-right: 4px;
  color: orange;
}

.popupLabel {
  width: 48px;
  color: rgba(0, 0, 0, 64%);
  text-align: right;
}

.popupDescription {
  padding-bottom: 16px;
  color: rgba(0, 0, 0, 36%);
}

.tokenContainer,
.noteContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.settingButton {
  position: absolute;
  top: 8px;
  right: 4px;
}